1.install active directory in system
2.connect to vpn
3.give adm id , password, list of ids in files


ex: for ids ,, enter as below ,(just copy paste from outlook mail)

xsfgfhgh
xsfgghh
xsdgfght


4. install pyad in cmd (pip install pyad)

usage :

in the directory 

1. ctrl + shit + right clicke and then choose powershell
2. type : python3 ActiveDirectoryAutomation.py
3.enter
4. wait for script to end
